.dropdown {
    position: relative;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: #0088CE;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    list-style: none;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    background-color: white;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    color: black;
    font-family: Arial, sans-serif;
}

.dropdown-menu li {
    padding: 8px 12px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 110%;
}

.ham {
    background-color: #ffb3ba;
}

.cheese {
    background-color: #ffdfba;
}

.bread {
    background-color: #f5deb3;
}